# elasticsearch
ELASTIC_SCHEMA=http://
ELASTIC_HOST=localhost
ELASTIC_PORT=9200

# redis
REDIS_SCHEMA=http://
REDIS_HOST=localhost
REDIS_PORT=6379

# api-service
SERVICE_SCHEMA=http://
SERVICE_HOST=localhost
SERVICE_PORT=8000